* {
    --container-inset: 30rem;
    --grid-size: 40px;
    --grid-dim-width: 20;
    --grid-dim-height: 20;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#container {
    background: #7f00ff;
    width: calc(var(--grid-size) * var(--grid-dim-width));
    height: calc(var(--grid-size) * var(--grid-dim-height));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid {
    box-sizing: border-box;
    width: var(--grid-size);
    height: var(--grid-size);
    border-width: 1px 0 0 1px;
    border-color: black;
    border-style: solid;
}
